@media screen and (max-width: 1300px) {
    .containerServicesEngagement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        gap: 3rem;
    }

    .InfosSurBord{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 80%;
        color: #0c3c5c;
    }

    .InfosSurBord ul{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    .formContact{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
    }


    .formContact input{
        height: 40px;
        background: transparent;
        border: 2px solid #0c3c5c;
        border-radius: 5px;
        width: 70%;
        text-indent: 10px;
        outline: none;
    }


    .formContact textarea{
        height: 150px;
        background: transparent;
        border: 2px solid #0c3c5c;
        border-radius: 5px;
        padding: 10px;
        width: 70%;
        outline: none;
        resize: none;
    }
}@media screen and (max-width: 1000px) {



    header nav{
        margin: 1rem auto;
        background-color: #c9e5f6;
        width: 50%;
        padding-block: 20px;
        padding-inline: 70px;
        border-radius: 78px;
        box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
        -webkit-box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
        -moz-box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
    }


    .containerLogoInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 80%;
    }



    .containerServicesEngagement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 3rem;
    }


    .containerContact{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 70%;
        padding: 1rem;
        background-color: #c9e5f6;
        border-radius: 10px;
    }


    .formContact input{
        height: 40px;
        background: transparent;
        border: 2px solid #0c3c5c;
        border-radius: 5px;
        width: 80%;
        text-indent: 10px;
        outline: none;
    }


    .formContact textarea{
        height: 150px;
        background: transparent;
        border: 2px solid #0c3c5c;
        border-radius: 5px;
        padding: 10px;
        width: 80%;
        outline: none;
        resize: none;
    }
}@media screen and (max-width: 820px) {



    header nav{
        margin: 1rem auto;
        background-color: #c9e5f6;
        width: 80%;
        padding-block: 20px;
        padding-inline: 70px;
        border-radius: 78px;
        box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
        -webkit-box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
        -moz-box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
    }

    .containerContact{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 85%;
        padding: 1rem;
        background-color: #c9e5f6;
        border-radius: 10px;
    }

}@media screen and (max-width: 600px) {


    .containerLogoInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 95%;
    }


    .containerServicesEngagement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        gap: 3rem;
    }

}@media screen and (max-width: 500px) {

    header nav{
        margin: 0.5rem auto;
        background-color: #c9e5f6;
        width: 95%;
        padding-block: 20px;
        padding-inline: 30px;
        border-radius: 78px;
        box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
        -webkit-box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
        -moz-box-shadow: 15px 19px 17px -1px rgba(12, 60, 92, 0.76);
    }

    .containerLogoInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }


    .containerServicesEngagement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 3rem;
    }

    .InfoEntreprise{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        gap: 10px;
        color: #0c3c5c;
    }


    .InfosSurBord{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 95%;
        color: #0c3c5c;
    }

    .formContact{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
    }

    .formContact input{
        height: 40px;
        background: transparent;
        border: 2px solid #0c3c5c;
        border-radius: 5px;
        width: 95%;
        text-indent: 10px;
        outline: none;
    }


    .formContact textarea{
        height: 150px;
        background: transparent;
        border: 2px solid #0c3c5c;
        border-radius: 5px;
        padding: 10px;
        width: 95%;
        outline: none;
        resize: none;
    }

}